h1 {
  color: #fff;
  font-family: "Shippori Mincho", serif;
  text-align: center;
  margin-top: 5rem;
}

h2 {
  color: black;
  font-family: "Shippori Mincho", serif;
}

img {
  width: 20%;
  height: 30%;
  margin-left: 0%;
}

#tyler {
  color: #fff;
  margin-left: -10%;
  padding: 0.5rem;
}
#tylerImg {
  width: 200px;
  height: 270px;
}

#darnellLiz {
  width: 400px;
  height: 250px;
}

.about-container {
  width: 100%;
  min-height: 100vh;
  background: white;
}

.about-container nav {
  background: #c49978;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-container nav button {
  width: 86px;
  padding: 8px 0;
  background: #553f30;
}

.about-container > * {
  display: flex;
  flex-direction: column;
}

.about-top {
  background-color: #e0e0e0;
  padding: 5% 20% 5% 20%;
  display: flex;
  justify-content: space-around;
}

.top-left > h2,
p {
  text-align: left;
}

.top-left {
  max-width: 50%;
}

.about-btm {
  padding-bottom: 20%;
  padding-top: 2%;
}
