h1 {
  color: #fff;
  font-family: "Shippori Mincho", serif;
  text-align: center;
  margin-top: 5rem;
}

h2 {
  margin-top: 30%;
  color: #fff;
  font-family: "Shippori Mincho", serif;
  padding-bottom: 1.5rem;
}

img {
  width: 20%;
  height: 30%;
  margin-left: 0%;
}

#tyler {
  color: #fff;
  margin-left: -10%;
  padding: 0.5rem;
}
#tylerImg {
  width: 200px;
  height: 270px;
}

#darnellLiz {
  width: 400px;
  height: 250px;
}

h3,
h4 {
  display: inline;
  margin-top: 50;
}

span {
  font-family: "Shippori Mincho", serif;
  font-size: 19px;
  color: #553f30;
  margin-top: 5rem;
  padding: 5rem;
}
.about-container {
  width: 100%;
  min-height: 100vh;
  background: white;
}

.about-container nav {
  background: #c49978;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-container nav h2 {
  color: #fff;
}

.about-container nav button {
  width: 86px;
  padding: 8px 0;
  background: #553f30;
}
