.home-container {
  width: 100%;
}

.home-container nav {
  background: #603bbb;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-container nav h2 {
  color: #fff;
}

.home-container nav button {
  width: 86px;
  padding: 8px 0;
  background: #3a2b58;
}
